.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-family: Inter-Regular, sans-serif;
    background: linear-gradient(rgba(190, 77, 9, 0.8), rgba(0, 104,167, 0.8)),
    url('../src/images/Netflix-3.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-shape-divider-bottom-hero {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-hero svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-hero .shape-fill-hero {
    fill: #f8f9fa;
}

.hero-content h1 {
    font-family:  Inter-Regular, sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    /*text-transform: uppercase;*/
    letter-spacing: -1px;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background: linear-gradient(180deg, #ffffff 50%, #e0e0e0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content p {
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.85);
    max-width: 650px;
    margin: 0 auto 30px;
}


.cta-button {
    font-family: Inter-Regular;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top:  20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background: white;
    color: rgb(0, 104, 167);
}