/* .services {
    padding: 50px 5%;
    background-color:   rgb(0, 104, 167);
    text-align: center;
    font-family: Inter-Regular;
} */

.services-container { 
    padding: 40px 5% 150px ;
    background-color: #f8f9fa;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-family: Inter-Regular;
}

.custom-shape-divider-bottom {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180px);
}

.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.custom-shape-divider-bottom .shape-fill {
   fill: #000000;
}

.services-titles {
    margin-bottom: 4px;
    font-family: Inter-Regular;
    text-align: center;
}

.services-titles h2 {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 800;
    font-size: 2.8rem;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    color: rgb(0, 104, 167);
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.services-titles h2::after {
    content: '';
    display: block;
    width: 620px;
    height: 3px;
    background-color: rgb(255, 204, 0); 
    margin: 10px auto 0;
    border-radius: 2px;
}

.services-titles p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555555;
    max-width: 600px;
    margin: 15px auto 40px;
    opacity: 0.9;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    overflow: hidden;
    padding: 50px;
}

.service-card {
    font-family: Inter-Regular;
    height: 350px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px;
    color: white;
    text-align: left;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    box-sizing: border-box;
   
}

.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.service-card p {
    font-size: 1rem;
    opacity: 0.9;
    margin: 0;
}

@media (max-width: 768px) {
    .service-intro {
        flex-direction: column;
        text-align: center;
    }
}